body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.border{
  border: 1px solid black;
}
.borderRed{
  border: 1px solid red;
}
.borderBlue{
  border: 1px solid #188fcc;
}

.dialog{
  position: fixed;
  top: 100px;
  left: 25%; 
  width: 50%; 
  height: 200px; 
  padding: 10px;
  background: lightBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}